<h1>Pages info</h1>
<p>This is just a page of information.</p>
<h2>About MVC</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MVC-Process.svg/400px-MVC-Process.svg.png">
<div class="list">
<ul>
  <li>model: アプリケーションデータ、ビジネスルール、ロジック、関数</li>
  <li>view: グラフや図などの任意の情報表現</li>
  <li>controller: 入力を受け取りmodelとviewへの命令に変換する</li>
</ul>
</div>
